body {
    margin: 0px;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    font-family: inherit;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, 0.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}

html {
    color: rgb(51, 51, 51);
}

html {
    box-sizing: border-box;
    font-size: 87.5%;
}

.ghBLef {
    padding: 33px 8px 8px 8px;
}

@media screen and (min-width: 768px),
print {
    .ghBLef {
        padding: 20px 124px 10px 124px;
        ;
    }
}

div {
    display: block;
}

.jWraHm {
    margin: 0px;
    display: flex;
    gap: 12px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.RwrGt {
    position: relative;
    height: 72px;
    min-width: 100px;
    background-color: rgb(244, 246, 251);
}

.fJBfjd::before {
    content: "";
    height: 0px;
    display: block;
    padding-bottom: 75%;
}

.jFPSIN {
    object-fit: contain;
}

.dsKpFb {
    margin: 0px;
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dPxSvj {
    margin-top: 12px;
}

.gYCZzI {
    width: 100%;
    border-spacing: 0px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.cxoXHF {
    background-color: rgb(244, 246, 251);
    color: rgb(0, 164, 232);
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.flTZuA {
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px;
}

.cxEXVI {
    appearance: none;
    border: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    display: flex;
    cursor: pointer;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.fBdAuH {
    display: inline-block;
    flex: 0 0 auto;
    height: 18px;
    width: 18px;
    color: rgb(170, 180, 199);
}

svg[Attributes Style] {
    width: 1em;
    height: 1em;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.idEZQy {
    display: block;
    cursor: pointer;
}

summary {
    display: block;
}

.jhITaH {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(244, 246, 251);
    border: 1px solid rgb(224, 230, 240);
    border-radius: 4px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 12px;
}

.bYDglC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

img[Attributes Style] {
    width: 24px;
    aspect-ratio: auto 24 / 24;
    height: 24px;
}

.dGwSJm {
    margin: 0px;
    font-size: 0.857143rem;
    line-height: 1.5;
}

.dkOHwj {
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
    color: rgb(170, 180, 199);
}

.hSrhnW {
    padding: 8px 16px 16px;
    background-color: rgb(244, 246, 251);
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(224, 230, 240);
    border-bottom-color: rgb(224, 230, 240);
    border-left-color: rgb(224, 230, 240);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
}

.bQNvUh {
    display: flex;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

img[Attributes Style] {
    width: 32px;
    aspect-ratio: auto 32 / 32;
    height: 32px;
}

.lalQJF {
    display: flex;
    flex-direction: column;
}

.ekYSko {
    margin: 0px;
    width: 100%;
    font-size: 0.857143rem;
    font-weight: bolder;
    line-height: 1.5;
}

.kuBCaF {
    margin: 0px;
    font-size: 0.857143rem;
    text-align: center;
    line-height: 1.5;
}

.funOZ {
    color: rgb(0, 164, 232);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.crYEgO {
    margin: 16px 0px 0px;
    height: 1px;
    flex-shrink: 0;
    border: 0px;
    background-color: rgb(224, 230, 240);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.fCyNiR {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.hTBiBd {
    text-decoration: none;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 0px;
    color: rgb(51, 51, 51);
}

.ckndtA {
    margin: 0px;
    display: block;
    font-weight: 600;
    line-height: 1.5;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.hjKWUt {
    margin: 0px;
    display: block;
    line-height: 1.5;
}

.bouyFt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dHcfhv {
    display: inline-block;
    flex: 0 0 auto;
    height: 24px;
    width: 24px;
    color: rgb(170, 180, 199);
}

.tcjwU {
    margin: 0px;
    height: 1px;
    flex-shrink: 0;
    border: 0px;
    background-color: rgb(224, 230, 240);
}

.cEUse {
    text-decoration: none;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 0px;
    color: rgb(51, 51, 51);
}

.ckndtA {
    margin: 0px;
    display: block;
    font-weight: 600;
    line-height: 1.5;
}

img[Attributes Style] {
    height: 24px;
}

.bFqdje {
    margin-top: 24px;
}

form {
    display: block;
    margin-top: 0em;
}

.bMrHNe {
    width: max-content;
}

details {
    display: block;
}

.fDolII {
    display: block;
    cursor: pointer;
}

.iSTlga {
    display: flex;
    gap: 6px;
    margin-top: 12px;
}

.fXclSX {
    display: inline-block;
    flex: 0 0 auto;
    height: 20px;
    width: 20px;
    color: rgb(170, 180, 199);
}

.dOMkvM {
    text-decoration: underline;
}

.dEITQB {
    margin: 8px 0px 0px;
    display: block;
    color: rgb(142, 153, 172);
    font-size: 0.857143rem;
    line-height: 1.5;
}

.cayYuy {
    text-align: center;
}

.hQbIBm {
    margin: 24px auto 0px;
    padding: 0px 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgb(0, 164, 232);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    height: 40px;
    min-width: 40px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 164, 232);
    max-width: 350px;
    width: 100%;
}

.bMrHNe[open] {
    width: auto;
}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

.dXWAhR {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.cpXiMA {
    margin: 0px;
    font-size: 1.28571rem;
    color: rgb(0, 164, 232);
    line-height: 1.5;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.kSWvyd {
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: rgb(0, 164, 232);
}

.bJVcbh {
    display: inline-block;
    flex: 0 0 auto;
    color: rgb(0, 164, 232);
    height: 1em;
    width: 1em;
}

.cupjMh {
    margin: 0px 0px 16px;
    line-height: 1.5;
}

.kQIliz {
    margin-bottom: 12px;
}

.hka-duO {
    display: flex;
    flex-wrap: wrap;
}

.eNtXce {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
}

label {
    cursor: default;
}

.dxvdCl {
    margin: 0px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.kzyWPp {
    margin-left: 8px;
}

.jpCjNS {
    margin: 0px;
    font-size: 0.857143rem;
    color: rgb(142, 153, 172);
    line-height: 1.5;
}

.xhclB {
    flex-basis: 100%;
}

.iVrKbU {
    display: flex;
    border: 1px solid rgb(170, 180, 199);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: box-shadow 0.2s ease 0s;
}

.iYEEZr {
    width: 100%;
    min-width: 0px;
    padding: 0.375em 0.75em;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 0px;
    outline: 0px;
    appearance: none;
    border-radius: 0px;
    margin: 0px;
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 2px 0px inset;
    height: 46px;
    font-size: 1rem;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.fBUOhT {
    display: flex;
    margin-bottom: 12px;
    gap: 12px;
}

.jnkFoK {
    width: 100%;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
}

.gGgywZ {
    display: flex;
    gap: 16px;
}

.eWPUmG {
    width: 25%;
    min-width: 75px;
}

.hTbOgh {
    width: 75%;
}

.dnqJmL {
    padding: 0px calc(48px + 0.75em) 0px 0.75em;
    border: 1px solid rgb(170, 180, 199);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    transition: box-shadow 0.2s ease 0s;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDE3LjUzYTEgMSAwIDAxLS43LS4yOWwtOS05YTEgMSAwIDAxMC0xLjQxIDEgMSAwIDAxMS40MSAwTDEyIDE1LjEybDguMy04LjI5YTEgMSAwIDAxMS40MSAwIDEgMSAwIDAxMCAxLjQxbC05IDlhMSAxIDAgMDEtLjcxLjI5eiIgZmlsbD0iIzhlOTlhYyIgLz48L3N2Zz4=), linear-gradient(to right, rgb(170, 180, 199) 1px, rgb(244, 246, 251) 1px);
    background-repeat: no-repeat;
    height: 48px;
    font-size: 1rem;
    background-size: 24px 24px, 48px 48px;
    background-position: right 11px center, right center;
}

.dnqJmL:disabled {
    background-color: rgb(249, 250, 253);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDE3LjUzYTEgMSAwIDAxLS43LS4yOWwtOS05YTEgMSAwIDAxMC0xLjQxIDEgMSAwIDAxMS40MSAwTDEyIDE1LjEybDguMy04LjI5YTEgMSAwIDAxMS40MSAwIDEgMSAwIDAxMCAxLjQxbC05IDlhMSAxIDAgMDEtLjcxLjI5eiIgZmlsbD0iI2NhZDNlMSIgLz48L3N2Zz4=), linear-gradient(to right, rgb(202, 211, 225) 1px, rgb(249, 250, 253) 1px);
    color: rgb(170, 180, 199);
    opacity: 1;
    cursor: not-allowed;
    border-color: rgb(202, 211, 225);
}

.dnqJmL option {
    color: rgb(51, 51, 51);
    font-weight: 400;
}

select[disabled] > option {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

select {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
}

select:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

.kihWec {
    margin: 8px 0px 24px;
    color: rgb(142, 153, 172);
    font-size: 0.857143rem;
    line-height: 1.5;
}

.kTAkgv {
    margin-bottom: 16px;
}

.hQkFDh {
    padding-top: 4px;
    padding-bottom: 4px;
}

.kAXkgB {
    position: relative;
}

.jZaIXr {
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 20px;
    width: 20px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.EiZKs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    cursor: pointer;
    min-height: 20px;
    padding-left: 26px;
    font-size: 1rem;
}

.EiZKs::before {
    height: 20px;
    width: 20px;
}

.EiZKs::before {
    border-color: rgb(153, 153, 153);
}

.EiZKs::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-left: -3px;
    margin-top: -3px;
}

.ghREkS {
    width: 100%;
    color: rgb(142, 153, 172);
    font-size: 0.857143rem;
    margin: 0px;
    line-height: 1.5;
}

.hfyWzx {
    padding: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out 0s;
    color: rgb(0, 164, 232);
    height: 20px;
    width: 20px;
}

.jZaIXr:checked:not(:indeterminate) + label > .Checkbox__CheckboxIcon-sc-7kkiwa-0 {
    opacity: 1;
}

.JybZL {
    display: inline-block;
    flex: 0 0 auto;
    height: 1em;
    width: 1em;
    color: rgb(170, 180, 199);
}

.hARhJN {
    padding: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out 0s;
    color: rgb(170, 180, 199);
    height: 20px;
    width: 20px;
}

:not(svg) {
    transform-origin: 0px 0px;
}

rect[Attributes Style] {
    x: 6.67;
    y: 10.67;
    width: 10.67;
    height: 2.67;
    rx: 1.33;
    fill: currentcolor;
}

.bmMTFW {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 24px;
}

.klWrJG {
    margin: 0px;
    padding: 0px 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgb(0, 164, 232);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    height: 40px;
    min-width: 40px;
    font-size: 1rem;
    color: rgb(0, 164, 232);
    background-color: rgb(255, 255, 255);
}

.cSpRTJ {
    margin: 0px;
    padding: 0px 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgb(0, 164, 232);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    height: 40px;
    min-width: 40px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 164, 232);
}

.cfIVfL {
    display: block;
}

.cfddOq {
    grid-area: header / header / header / header;
}

.eIcKyj {
    pointer-events: auto;
}

.dBhWiK {
    background-color: rgb(255, 255, 255);
    display: block;
}

@media screen and (min-width: 768px),
print {
    .dBhWiK {
        padding-left: 16px;
        padding-right: 16px;
        background-color: rgb(255, 255, 255);
    }
}

header {
    display: block;
}

.fEGJct {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(224, 230, 240);
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 400;
}

@media screen and (min-width: 768px),
print {
    .fEGJct {
        height: auto;
        width: auto;
        position: static;
    }
}

.kXZXCw {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kUUrQk {
    margin: 0px 8px;
    padding: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    color: rgb(170, 180, 199);
    background-color: transparent;
    height: 40px;
    width: 40px;
}

@media screen and (min-width: 768px),
print {
    .kUUrQk {
        display: none;
    }
}

.dIKVBQ {
    display: inline-block;
    flex: 0 0 auto;
    height: 32px;
    width: 32px;
    color: inherit;
}

.fHVoAV {
    text-decoration: none;
    color: rgb(0, 164, 232);
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

@media screen and (min-width: 768px),
print {
    .fHVoAV {
        margin-right: 16px;
        margin-left: 0px;
    }
}

.edGMCS {
    width: 67px;
}

@media screen and (min-width: 768px),
print {
    .edGMCS {
        width: 132px;
    }
}

.kXTCoU {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px),
print {
    .kXTCoU {
        flex-direction: column;
    }
}

.eBcpPk {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(224, 230, 240);
    display: none;
    height: 51px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-bottom: 8px;
    padding-top: 8px;
}

@media screen and (min-width: 768px),
print {
    .eBcpPk {
        display: flex;
    }
}

.MjZIW {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.gaXBAs {
    text-decoration: none;
    color: rgb(0, 164, 232);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.gaRPDs > * {
    margin-right: 12px;
}

.ciaBnX {
    display: inline-block;
    flex: 0 0 auto;
    color: rgb(170, 180, 199);
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 768px),
print {
    .ciaBnX {
        height: 16px;
        width: 16px;
        color: rgb(170, 180, 199);
    }
}

.iEYBbT {
    margin: 0px 0px 0px 4px;
    color: rgb(51, 51, 51);
    display: none;
    font-size: 0.857143rem;
    line-height: 1.5;
}

@media screen and (min-width: 768px),
print {
    .iEYBbT {
        display: block;
    }
}

.iRIcQk > div {
    height: 100%;
}

.hJgHiM {
    height: 100%;
}

.dtymrk {
    margin: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    min-width: 32px;
    padding: 2px 8px;
    font-size: 0.857143rem;
    color: rgb(0, 164, 232);
    background-color: transparent;
    height: 100%;
    max-width: 250px;
}

.WNkqK {
    display: flex;
    gap: 4px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.jYFQjC {
    position: relative;
}

.kvsAHt {
    flex-shrink: 0;
    border-radius: 50%;
    user-select: none;
    display: flex;
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 768px),
print {
    .kvsAHt {
        height: 24px;
        width: 24px;
    }
}

.kvsAHt > svg {
    border: 1px solid rgb(202, 211, 225);
}

.kvsAHt > img,
.kvsAHt > svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.lmDwxg {
    display: inline-block;
    flex: 0 0 auto;
    height: 1em;
    width: 1em;
    color: rgb(170, 180, 199);
}

.bpYkxS {
    margin: 0px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(51, 51, 51);
    display: none;
    line-height: 1.5;
}

@media screen and (min-width: 768px),
print {
    .bpYkxS {
        display: block;
    }
}

.bCLBWI {
    display: inline-block;
    flex: 0 0 auto;
    height: 10px;
    width: 10px;
    color: rgb(170, 180, 199);
}

.gaRPDs >:last-child {
    margin-right: 0px;
}

.gaRPDs > * {
    margin-right: 12px;
}

.dMnbku {
    margin: 0px;
    padding: 0px 6px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgb(239, 170, 84);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    height: 24px;
    min-width: 24px;
    font-size: 0.785714rem;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 170, 84);
}

.dTcaay {
    display: inline-block;
    flex: 0 0 auto;
    height: 12px;
    width: 12px;
    color: inherit;
    margin-right: 4px;
}

.bJfcVK {
    box-shadow: transparent 0px 0px 0px 1px;
}

.fbERkY {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    display: none;
}

@media screen and (min-width: 768px),
print {
    .fbERkY {
        display: flex;
    }
}

.bEKVyF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 16px;
    font-size: 1rem;
    text-decoration: none;
}

.gNhRSO {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.faOJCW {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.jkEvBe {
    display: flex;
}

.haMKcc {
    font-weight: 400;
    font-size: 0.857143rem;
    color: rgb(142, 153, 172);
    margin-left: 8px;
    align-self: flex-end;
    display: none;
}

.bEKVyF::after {
    display: block;
    content: "";
    border-bottom: 4px solid rgb(0, 164, 232);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out 0s;
    width: 100%;
    padding-top: 16px;
}

.btixb {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@media screen and (min-width: 768px),
print {
    .btixb {
        display: none;
    }
}

.eIQvRz {
    margin: 0px 16px 0px 0px;
    padding: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgb(239, 170, 84);
    border-radius: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    height: 24px;
    width: 24px;
    color: rgb(239, 170, 84);
    background-color: rgb(255, 255, 255);
}

.dkLpPs {
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
    color: inherit;
}

.bQEIOe {
    text-decoration: none;
    color: rgb(0, 164, 232);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
}

.gJtFLc {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(249, 250, 253);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
}

@media screen and (min-width: 768px),
print {
    .gJtFLc {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        padding: 25px 30px 0px 30px;
    }
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.dQcibK {
    margin: 0px;
    font-size: 1.28571rem;
    line-height: 1.25;
}

@media screen and (min-width: 768px),
print {
    .dQcibK {
        font-size: 1.71429rem;
    }
}

.cuWzJj {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width: 768px),
print {
    .cuWzJj {
        display: block;
    }
}

.gtvony {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.isoqty {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    font-size: 0.857143rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cYTEwZ {
    margin: 0px;
    font-weight: 600;
    text-align: right;
    line-height: 1.5;
}

.cgkiqc {
    margin: 0px;
    text-align: right;
    line-height: 1.5;
}

.xPtno {
    height: 26px;
    display: flex;
}

.ODVmr {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0.75em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2em;
    user-select: none;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
    font-size: 0.857143rem;
    color: rgb(255, 255, 255);
    background: rgb(133, 102, 174);
}

.bvgiUa {
    display: inline-block;
    flex: 0 0 auto;
    color: inherit;
    margin-right: 4px;
    height: 1em;
    width: 1em;
}

.eYbkDc {
    font-size: 1.14286rem;
    margin-right: 2px;
}

.bKcaA-d {
    flex-shrink: 0;
    vertical-align: middle;
    border: none;
}

g[Attributes Style] {
    fill: currentcolor;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.jhfgd47 {
    padding: 43px 0px 0px 0px;
}

@media screen and (min-width: 768px),
print {
    .jhfgd47 {
        padding: 15px 24px 5px 24px;
    }
}

@media (min-width: 320px) and (max-width: 410px) {
    .isoqty {
        font-size: 0.557rem;
    }
}

.jjsFSX {
    display: block;
}

.kEfukY {
    grid-area: footer / footer / footer / footer;
}

.bVjNCi {
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px),
print {
    .bVjNCi {
        padding-left: 16px;
        padding-right: 16px;
    }
}

footer {
    display: block;
}

.jrIhBP {
    margin: 0px;
    height: 1px;
    flex-shrink: 0;
    border: 0px;
    background-color: rgb(224, 230, 240);
}

@media screen and (min-width: 768px),
print {
    .jrIhBP {
        margin-bottom: 24px;
    }
}

hr {
    height: 1px;
    margin: 0px;
    border: 0px;
    background-color: rgb(224, 230, 240);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.bRsNfZ {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px),
print {
    .bRsNfZ {
        gap: 16px;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px),
print {
    .iorje {
        flex: 1 1 0%;
    }
}

.idcvUK {
    background-color: transparent;
    border-bottom: 1px solid rgb(224, 230, 240);
}

@media only screen and (min-width: 768px),
print {
    .idcvUK {
        background-color: transparent;
        border-bottom: none;
    }
}

.bEfJMu {
    height: 40px;
    width: 100%;
    margin: 0px;
    padding: 0px 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    border: 0px;
    color: rgb(51, 51, 51);
    font-size: 0.857143rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

@media only screen and (min-width: 768px),
print {
    .bEfJMu {
        height: auto;
        margin-bottom: 8px;
        padding: 0px;
        font-weight: 700;
        pointer-events: none;
        cursor: default;
    }
}

.gJbcYO {
    display: flex;
    margin-right: 8px;
}

@media screen and (min-width: 768px),
print {
    .gJbcYO {
        display: none;
    }
}

svg[Attributes Style] {
    width: 1em;
    height: 1em;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.cLExUk {
    display: inline-block;
    flex: 0 0 auto;
    height: 12px;
    width: 12px;
    color: rgb(170, 180, 199);
}

.emCNSl {
    display: none;
    padding: 0px 16px;
    font-size: 0.857143rem;
}

@media only screen and (min-width: 768px),
print {
    .emCNSl {
        display: flex;
        padding: 0px;
    }
}

.dDquyr {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px),
print {
    .dDquyr {
        flex-direction: column;
    }
}

.elUkjS {
    text-decoration: none;
    color: rgb(0, 164, 232);
}

.dDquyr > * {
    margin-right: 16px;
    margin-bottom: 12px;
}

.dDquyr a {
    color: rgb(51, 51, 51);
}

@media only screen and (min-width: 768px),
print {
    .dDquyr > * {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 768px),
print {
    .dDquyr >:last-child {
        margin-bottom: 0px;
    }
}

.jNvVAN {
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 768px),
print {
    .jNvVAN {
        margin-top: -13px;
        padding-top: 0px;
        align-items: flex-end;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

.kwMdYu {
    display: none;
}

@media screen and (min-width: 768px),
print {
    .kwMdYu {
        display: block;
    }
}

.hQwJgS {
    text-decoration: none;
    color: rgb(0, 164, 232);
    display: flex;
    margin-right: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    padding-left: 18px;
    margin: 0px;
}

.bwVTCY {
    padding: 0px 16px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

@media only screen and (min-width: 768px),
print {
    .bwVTCY {
        padding: 0px;
    }
}

@media only screen and (min-width: 768px),
print {
    .bdvAzg {
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul li {
    overflow-wrap: break-word;
}

.cVlqrT {
    font-size: 11px;
}

.bwVTCY >:not(:last-child) {
    margin-right: 16px;
}

.cVlqrT a {
    color: rgb(51, 51, 51);
}

.fIDmWC {
    height: 24px;
    display: none;
}

@media only screen and (min-width: 768px),
print {
    .fIDmWC {
        display: flex;
    }
}

.erJdMc {
    text-decoration: none;
    color: rgb(170, 180, 199);
}

@media only screen and (min-width: 768px),
print {
    .fIDmWC >:not(: last-child) {
        margin-right: 8px;
    }
}

.dDZaLs {
    display: inline-block;
    flex: 0 0 auto;
    height: 24px;
    width: 24px;
    color: inherit;
}